<button
  mat-raised-button
  color="secondary"
  class="mdc-button mdc-button--outlined"
  (click)="load()"
  >
  Load Questions
</button>
<!--<app-questions></app-questions>-->
<!--<div>
  <mat-table style="float:left" [dataSource]="questionsDataSource">

    <ng-container matColumnDef="q_text">
      <th mat-header-cell *matHeaderCellDef> Questions </th>
      <td mat-cell *matCellDef="let question">{{ question.q_text }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayQuestions"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplayQuestions;"></tr>
  </mat-table>

  <mat-table style="float: left;" [dataSource]="optionsDataSource">

    <ng-container matColumnDef="answer_options">
      <th mat-header-cell *matHeaderCellDef> Option</th>
      <td mat-cell *matCellDef="let option">{{ option.ao_text }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayOptions"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplayOptions;"></tr>
  </mat-table>
</div>-->


<div>
  <mat-table style="float:left" [dataSource]="dataSource">

    <ng-container matColumnDef="q_text">
      <th mat-header-cell *matHeaderCellDef> Questions </th>
      <td mat-cell *matCellDef="let question">{{ question.q_text }}</td>
    </ng-container>
    <ng-container matColumnDef="q_options">
      <th mat-header-cell *matHeaderCellDef> Option </th>
      <td mat-cell *matCellDef="let option">
        <ng-container *ngFor="let o of option.q_options">{{ o.ao_text }}</ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </mat-table>
</div>
