<button
  mat-raised-button
  color="secondary"
  class="mdc-button mdc-button--outlined"
  (click)="load()"
  >
  Load Questions
</button>

<div>
  <table mat-table style="float:left" [dataSource]="dataSource">
    <ng-container matColumnDef="q_text">
      <th mat-header-cell *matHeaderCellDef> Questions </th>
      <td mat-cell *matCellDef="let question">{{ question.q_text }}</td>
    </ng-container>
    <ng-container matColumnDef="q_options">
      <th mat-header-cell *matHeaderCellDef> Option </th>
      <td mat-cell *matCellDef="let fullquestion">
        <div *ngIf="fullquestion.q_type == 'FREETEXT'; then freetext else checkbox"></div>
        <ng-template #freetext>
          <mat-form-field appearance="legacy" class="fullwidth" style="margin-right: 2%;" (change)="saveFreetext(fullquestion)">
            <input
              type="text"
              matInput placeholder="Type your Answer here"
              id="freetextanswer"
              name="freetext"
              [(ngModel)]="freetextanswer"
            >
          </mat-form-field><br />
        </ng-template>
        <ng-template #checkbox>
          <ng-container *ngFor="let o of fullquestion.q_options">
            {{ o.ao_text }} <mat-checkbox (change)="saveOption(o)"></mat-checkbox><br />
          </ng-container>
      </ng-template>
    </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>
<br/>
<button mat-raised-button color="secondary" class="mdc-button mdc-button--outlined" (click)="pushOptions()">Submit</button>
