#ds1 {
  float: left
}
#ds2 {
  clear:both
}
#ds3 {
  clear:both
}
#ds4 {
  clear:both
}
.mat-row:nth-child(even){
  background-color: lightgray;
}
.invisible {
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}
