<mat-form-field (change)="disabled=false">
  <input
    type="text"
    matInput placeholder="Transactioncode"
    id="text"
    name="text"
    [(ngModel)]="transactioncode"
  >
</mat-form-field>

<br>

<button
  [disabled]="disabled"
  mat-raised-button
  color="secondary"
  class="mdc-button mdc-button--outlined"
  (click)="load()"
  >
  Load Questions
</button>

<br>

<div>
  <table mat-table style="float:left" [dataSource]="dataSource">
    <ng-container matColumnDef="q_text">
      <th mat-header-cell *matHeaderCellDef> Questions </th>
      <td mat-cell *matCellDef="let question">{{ question.q_text }}</td>
    </ng-container>
    <ng-container matColumnDef="q_options">
      <th mat-header-cell *matHeaderCellDef> Option </th>
      <td mat-cell *matCellDef="let fullquestion">
        <div *ngIf="fullquestion.q_type == 'FREETEXT'; then freetext else singlechoice"></div>
        <ng-template #freetext>
          <mat-form-field appearance="legacy" class="fullwidth" style="margin-right: 2%;" (change)="saveFreetext(fullquestion)">
            <input
              type="text"
              matInput placeholder="Type your Answer here"
              id="freetextanswer"
              name="freetext"
              [(ngModel)]="freetextanswer"
            >
          </mat-form-field><br />
        </ng-template>
        <ng-template #singlechoice>
          <ng-container>
           + <mat-radio-group aria-label="Select an Option">
              <mat-radio-button value="1" (change)="saveOption(fullquestion.q_options[0])"></mat-radio-button>
              <mat-radio-button value="2" (change)="saveOption(fullquestion.q_options[1])"></mat-radio-button>
              <mat-radio-button value="3" (change)="saveOption(fullquestion.q_options[2])"></mat-radio-button>
              <mat-radio-button value="4" (change)="saveOption(fullquestion.q_options[3])"></mat-radio-button>
            </mat-radio-group> -<br/>

            <!--{{ o.ao_text }} <mat-checkbox (change)="saveOption(o)"></mat-checkbox><br />-->
          </ng-container>
      </ng-template>
    </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>

<br>

<button mat-raised-button color="secondary" class="mdc-button mdc-button--outlined" (click)="saveToDatabase()">Submit</button>
